/*********************************************************************FOOTER************************************************************************/

footer {
    background-color: var(--bg--color);
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.content {
    display: block;
    box-sizing: border-box;
    min-height:100%;
    padding: 50px;
}

.left{
    text-align:left;
    float:left;
}
.right{
    float:right;
    text-align:right;
}
    .centered{
    text-align:center;
    }

@media (min-width:320px) and (max-width:479px) {
    .content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        position: relative;
    }
}

@media only screen and (max-width: 300px) {
    .content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        position: relative;
    }
}

.content p:first-child:not(.flex p:first-child) {
    color: white;
    font-size: 22px;
}

.content p:not(.col, .column p:first-child) {
    color: #888888;
    margin-bottom: 10px;
}

.col:last-child .email input {
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: #4c4c4c;
    padding-left: 10px;
    border: 0;
    outline: 0;
}

.col:last-child .email button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(229, 39, 39);
    padding-left: 10px;
    border: 0;
    outline: 0;
    text-align: center;
    margin-left: -30px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.col:last-child .social {
    display: flex;
    gap: 20px;
}

.col:last-child .social i {
    width: 40px;
}

.footerUltimo {
    background-color: rgb(40, 40, 40);
}

.footerUltimo .textoFooter {
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.footerUltimo .contenedor p {
    color: #888888;
}

.footerUltimo .contenedor p span {
    color: var(--text-color);
    font-weight: bold;
}